footer.footer
    .container
        .footermodule
        .module.socialnetworks
            h3 Suivez-nous
            ul
            li
                a.facebook(href='fb', target='_blank')
            li
                a.twitter(href='twitter', target='_blank')
            li
                a.instagram(href='instagram', target='_blank')
            li
                a.google(href='google+', target='_blank')
            li
                a.email(href='email', target='_blank')
        // fin div <modulefooter1>
        .module.onmobile
            h3 CineWild sur mobile
            ul
            li
                a.apple(href='apple', target='_blank')
            li
                a.android(href='android', target='_blank')
            li
                a.windows(href='windows', target='_blank')
        // fin div <modulefooter2>
        .module
            h3 CineWild à l'étranger
            ul
            li
                a(href='') Filmstarts
            li
                a(href='') Beyazperde
            li
                a(href='') Sensacine Mexico
            li
                a(href='') SensaCine
            li
                a(href='') AdoroCinema
        // fin div <modulefooter3>
        // fin div <footer module>
        .mentions
        ul
            li
            a(href='')
                p Donner mon avis sur le site
            li
            a(href='')
                p Qui sommes-nous
            li
            a(href='')
                p Recrutement
            li
            a(href='')
                p Contact
            li
            a(href='')
                p Publicité
            li
            a(href='')
                p CGU
            li
            a(href='')
                p Politique de cookies
            li
            a(href='')
                p Données Personnelles
            li
            a(href='')
                p CineWild
        // fin div <mentions>
