header.wrap
    .container
      a.logo(href='index.html')
        img(src='img/logo_cinewild.png', alt='Logo CineWild')
      nav
        ul
          li
            a(href='http://www.cinewild.com') Accueil
          li
            a(href='http://www.cinewild.com/cinema') Cinéma
          li
            a(href='http://www.cinewild.com/series') Séries
          li
            a(href='http://www.cinewild.com/emissions') Emissions
          li
            a(href='http://www.cinewild.com/news') News
