var#result-container.result-container
form#form-movies(name='form-movies')
  .typeahead__container
    .typeahead__field
      .typeahead__query
        input.js-typeahead-movies(name='movies[query]', type='search', placeholder='Search', autocomplete='off')
      .typeahead__button
        button(type='submit')
          i.typeahead__search-icon