.slide-viewer
    .slide-group
        .slide.slide-1
            figure
                img(src="img/diapo/the_happytime_murders@1x.jpg" alt="Image film Carnage chez les puppets")
                figcaption
                    a(href='http://localhost:3000/movies/1', target='_blank')
                        p 
                            strong Carnage chez les puppets 
                            |- When the puppet cast of an '80s children's TV show begin to get murdered one by one, a disgraced LAPD detective-turned-private eye puppet takes on the case.
        .slide.slide-2
            figure
                img(src="img/diapo/axl@1x.jpg" alt="Image film Carnage chez les puppets")
                figcaption 
                    a(href='http://localhost:3000/movies/2', target='_blank')
                        p 
                            strong A.X.L. 
                            |- A.X.L. is a top-secret, robotic dog who develops a special friendship with Miles and will go to any length to protect his new companion.
        .slide.slide-3
            figure
                img(src="img/diapo/papillons@1x.jpg" alt="Image film Carnage chez les puppets")
                figcaption 
                    a(href='http://localhost:3000/movies/3', target='_blank')
                        p 
                            strong Papillon 
                            |- Wrongfully convicted for murder, Henri Charriere forms an unlikely relationship with fellow inmate and quirky convicted counterfeiter Louis Dega, in an attempt to escape from the notorious penal colony on Devil's Island.
        .slide.slide-4
            figure
                img(src="img/diapo/support_the_girls@1x.jpg" alt="Image film Carnage chez les puppets")
                figcaption 
                    a(href='http://localhost:3000/movies/4', target='_blank')
                        p 
                            strong Support the Girls 
                            |- The general manager at a highway-side ''sports bar with curves" has her incurable optimism and faith, in her girls, her customers, and herself, tested over the course of a long, strange day. 
        .slide.slide-5
            figure
                img(src="img/diapo/replicas@1x.jpg" alt="Image film Carnage chez les puppets")
                figcaption
                    a(href='http://localhost:3000/movies/5', target='_blank')
                        p 
                            strong Replicas 
                            |- A scientist becomes obsessed with bringing back his family members who died in a traffic accident. 
.slide-buttons