.slide-viewer
    .slide-group
        .slide.slide-1
            p slide 1
        .slide.slide-2
            p slide 2
        .slide.slide-3
            p slide 3
        .slide.slide-4
            p slide 4
        .slide.slide-5
            p slide 5
.slide-buttons