extends layout.pug

block content
    include includes/header.pug
    .wrap
        .container.diaporama
        // fin div <diapo>
        .container
        .search
            form(action='http://xx.php')
            input#search(type='search', name='searchBar', placeholder='Chercher un film')
            input#buttonsearch(type='submit', value='Rechercher')
        // fin div <container search>
    // fin div <container boxoffice>
    .container
        h1 Découvrez des films
        .randommovie
        ul#movielist
        // fin div <random movie>
    // fin div <container random movie>
    // fin div <wrap>
    include includes/footer.pug
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='js/app.js')
