<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta name="description" content="Site sur les films">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
		<!--demander à IE d'utiliser sa dernière version-->
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>CinéWild</title>
		<!--[if (lt IE 9) & (!IEMobile)]>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/livingston-css3-mediaqueries-js/1.0.0/css3-mediaqueries.js"></script>
		<![endif]-->
		        <!--Web font-->
		<link href="XXX" rel="stylesheet">
		        <!--CSS-->
		<link href="css/normalize.min.css" rel="stylesheet" type="text/css">
		<link href="css/styles.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header class="wrap">
            <div class="container">
                <a href="index.html" class="logo">
                    <img src="img/logo_cinewild.png" alt="Logo CineWild">
                </a>
                <nav>
                    <ul>
                        <li><a href="http://www.cinewild.com">Accueil</a></li>
                        <li><a href="http://www.cinewild.com/cinema">Cinéma</a></li>
                        <li><a href="http://www.cinewild.com/series">Séries</a></li>
                        <li><a href="http://www.cinewild.com/emissions">Emissions</a></li>
                        <li><a href="http://www.cinewild.com/news">News</a></li>
                    </ul>
                </nav>
            </div> <!-- fin div <wrap> -->
        </header>
        <div class="wrap">
            <div class="container diaporama">
            </div> <!-- fin div <diapo> -->
            <div class="container">
                <div class="search">
                    <form action="http://xx.php">
                        <input type="search" name="searchBar" placeholder="Chercher un film" id="search">
                        <input type="submit" value="Rechercher" id="buttonsearch">
                    </form>
                </div>
            </div> <!-- fin div <container search> -->
            <div class="container">
                <h1>Dernières sorties</h1>
                <div class="movielist">
                </div> <!-- fin div <movie list> -->
            </div> <!-- fin div <container boxoffice> -->
            <div class="container">
                <h1>Découvrez des films</h1>
                <div class="randommovie">
                    <ul id="movielist"></ul>
                </div> <!-- fin div <random movie> -->
            </div> <!-- fin div <container random movie> -->
        </div> <!-- fin div <wrap> -->
        <footer>
            <div class="container">
                <div class="footermodule">
                    <div class="module socialnetworks">
                        <h3>Suivez-nous</h3>
                        <ul>
                            <li><a class="facebook" href="fb" target="_blank"></a></li>
                            <li><a class="twitter" href="twitter" target="_blank"></a></li>
                            <li><a class="instagram" href="instagram" target="_blank"></a></li>
                            <li><a class="google" href="google+" target="_blank"></a></li>
                            <li><a class="email" href="email" target="_blank"></a></li>
                        </ul>
                    </div> <!-- fin div <modulefooter1> -->
                    <div class="module onmobile">
                        <h3>CineWild sur mobile</h3>
                        <ul>
                            <li><a class="apple" href="apple" target="_blank"></a></li>
                            <li><a class="android" href="android" target="_blank"></a></li>
                            <li><a class="windows" href="windows" target="_blank"></a></li>
                        </ul>
                    </div> <!-- fin div <modulefooter2> -->
                    <div class="module">
                        <h3>CineWild à l'étranger</h3>
                        <ul>
                            <li><a href="">Filmstarts</a></li>
                            <li><a href="">Beyazperde</a></li>
                            <li><a href="">Sensacine Mexico</a></li>
                            <li><a href="">SensaCine</a></li>
                            <li><a href="">AdoroCinema</a></li>
                        </ul>
                    </div> <!-- fin div <modulefooter3> -->
                </div> <!-- fin div <footer module> -->
                <div class="mentions">
                    <ul>
                        <li><a href=""><p>Donner mon avis sur le site</p></a></li>
                        <li><a href=""><p>Qui sommes-nous</p></a></li>
                        <li><a href=""><p>Recrutement</p></a></li>
                        <li><a href=""><p>Contact</p></a></li>
                        <li><a href=""><p>Publicité</p></a></li>
                        <li><a href=""><p>CGU</p></a></li>
                        <li><a href=""><p>Politique de cookies</p></a></li>
                        <li><a href=""><p>Données Personnelles</p></a></li>
                        <li><a href=""><p>CineWild</p></a></li>
                    </ul>
                </div> <!-- fin div <mentions> -->
            </div> <!-- fin div <container footer> -->    
        </footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="js/app.js"></script>    
    </body>
</html>