extends layout.pug

block content
    include includes/header.pug
    .wrap
        .container.slider
            include includes/sliderMain.pug
        .container
            include includes/search.pug
        .container
            include includes/randomMovie.pug
    // fin div <wrap>
    include includes/footer.pug
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='js/plugin/typeahead.bundle.js')
    script(src='js/app.js')
    script(src='js/slider.js')
    script(src='js/randommovie.js')

