doctype html
html(lang="fr")
    head
        meta(charset='utf-8')
        meta(name='description', content='Site sur les films')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
        // demander à IE d'utiliser sa dernière version
        meta(http-equiv='x-ua-compatible', content='ie=edge')
        title CinéWild
        //if (lt IE 9) & (!IEMobile)
            script(src='https://cdnjs.cloudflare.com/ajax/libs/livingston-css3-mediaqueries-js/1.0.0/css3-mediaqueries.js')
        // Web font
        // link(href='XXX', rel='stylesheet')
        // CSS
        link(href='css/normalize.min.css', rel='stylesheet', type='text/css')
        link(href='css/styles.css', rel='stylesheet', type='text/css')
        link(href='css/vendor/jquery.typeahead.min.css', rel='stylesheet', type='text/css')
    body
        block content